.content {
    min-height: calc(100vh - 64px - 50px);
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250, 1fr));
}

.progress {
    height: 5px;
}

.btn-pos{
    position: absolute;
    right: 0;
    top: 0;
    background-color:#26A69A;
    color: black;
    font-weight: 500;
}

label:not(:last-child){
    margin-right:1rem ;
}   

.navbar {
    background-color:#26A69A;
}
.navbar h2 {
    color: black;
}

.bg-color{
    background-color:#26A69A;
    color: black;
}
